@keyframes scroll {
    100% {
      background-position: 0px -400%;
    }
  }
  
  /* Fallback if the operatring system prefers reduced motion*/
  @media (prefers-reduced-motion) {
    .wrapper {
      animation: scroll 800s linear infinite;
    }
  }
  
  @media (min-width: 670px) {
    .title {
      font-size: 5rem;
    }
  }
  